{% extends 'base.html' %}
{% block title %}Abstract Submission{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Abstract Submission Guidelines</h1>
    <div class="my-main-container">
        <p class="my-content">
            <b>
                Format Guidelines :
            </b>
        </p>
        <p class="my-content">
            Interested contributors are requested to submit an extended abstract <b>within 500 words</b>.  The abstract
            should essentially contain the following along with the title of the article and author's details:
        </p>
        <p class="my-content" style="margin: 25px auto; ">
             <ol style="margin: 0 auto; text-align: left; font-size: 20px;">
                 <li>
                     Purpose
                 </li>
                 <li>
                     Research Methodology/Design
                 </li>
                 <li>
                     Major Findings
                 </li>
                 <li>
                     Research Implications
                 </li>
                 <li>
                     Keywords
                 </li>
             </ol>
        </p>
        <br>
{#        <p class="my-content">#}
{#            <b>#}
{#                The abstracts can be submitted <a href="../submit-abstarct ">here</a> electronically.#}
{#            </b>#}
{#        </p>#}
        <br>
        <p class="my-content">
            <b>
            The contributors must ensure that the submission is original and not presented or published earlier or under
            review for presentation or publication at the same time
            </b>
        </p>
        <br>
        <p class="my-content">
            <b>
            Contributions not adhering to the above guidelines will not be evaluated for further stages. Hence you are
            requested to kindly follow the guidelines.
            </b>
        </p>
        <br>
{#        <p class="my-content">#}
{#            <a class="formButton" style="display: inline-block" href="https://forms.gle/ogov3Gmm3KyMTWfC9">Go to Submission</a>#}
{#        </p>#}
        <p class="my-content">
            <a class="formButton" style="display: inline-block" href="../abstract-submission">Submit here</a>
        </p>
    </div>
</section>

{% endblock content %}