{% extends 'base.html' %}
{% block title %} | Abstract Submission{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Abstract Submission Guidelines</h1>
    <div class="my-main-container">
        <p class="my-content">
            <b>
                Format Guidelines :
            </b>
        </p>
        <p class="my-content">
            Interested contributors are requested to submit an extended abstract of <b>up to 500 words</b>. The abstract should contain the following:
        </p>
        <p class="my-content" style="margin: 25px auto; ">
             <ol style="margin: 0 auto; text-align: left; font-size: 20px;">
                <li>
                    Title of the article and author details
                </li>
                <li>
                     Purpose
                 </li>
                 <li>
                     Research Methodology/Design
                 </li>
                 <li>
                     Major Findings
                 </li>
                 <li>
                     Research Implications
                 </li>
                 <li>
                     Keywords
                 </li>
             </ol> 
        </p>
        <br>
        <p class="my-content">
            Please use Times New Roman with 12 size font.
        </p>
        <br>
        <p class="my-content">
            <b>
                The contributors must ensure that their submissions are original and have not been presented or published earlier. 
                The submissions should not be concurrently under review for presentation or publication at another research outlet.
            </b>
        </p>
        <br>
        <p class="my-content">
            <b>
                The contributions that do not adhere to the above guidelines will not be considered for presentation or publication. 
            </b>
        </p>
        <br>
        <p class="my-content">
            <b>Note : </b>
            It is not mandatory to submit full papers after your abstracts are accepted. Upon receiving acceptance 
            notification of your abstract, you may directly present your work as per the guidelines the organising team will 
            share. Contributors interested in exploring publication opportunities are encouraged to submit fully developed 
            manuscripts upon acceptance of their abstract. All accepted papers will be published in an indexed volume of 
            proceedings by a reputed publisher, such as Springer, Sage, etc.
        </p>
        <br>
        <p class="my-content">
            <a class="formButton" style="display: inline-block" href="../abstract-submission">Submit here</a>
        </p>
    </div>
</section>

{% endblock content %}