{% extends 'base.html' %}
{% block title %} | Book of Abstracts{% endblock title %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            // messages timeout for 3 sec
            setTimeout(function () {
                $('.message_container').fadeOut('slow');
            }, 3000);
        });
    </script>
    <script src="//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js"></script>
{% endblock scripts %}
{% load static %}

{% block content %}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content">
    <div>
        <h1 style="display:inline-block ;">Book of Abstracts</h1>
        <img class="headIcon"  src="{% static 'images/open-book.png' %}">
    </div>
    <div class="my-main-container">
        <!-- <p class="my-content" style="margin:50px auto; text-align:center">
            <b>
                The book of abstracts will be available for download from <strike>13th</strike> 19th August, 2021.
            </b>
        </p> -->
        <br>
        
        <!-- <img src="https://online.fliphtml5.com/faxkq/xgox/files/shot.jpg" data-rel="fh5-light-box-demo" 
        data-href="https://online.fliphtml5.com/faxkq/xgox/" data-width="700" data-height="400" data-title="Book of Abstracts | GCIMB"
        style="height:300px; width: 220px;margin-top: 50px;"> -->

        <iframe style="width:700px;height:400px" src="https://online.fliphtml5.com/vgwnh/xpgk/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
        <p class="my-content" style="margin:50px auto; text-align:center">
            <b>
                <a target="_blank" class="formButton brochureButton" style="display: inline-block" href="{% static 'files/Book of Abstracts - GCIMB 2021.pdf' %}">
                    Download Book of Abstracts
                </a> 
            </b>
        </p>

    </div>

</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock content %}