{% extends 'base.html' %}
{% block title %} | Brochure{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Brochure</h1>
    <div class="my-main-container" >
            <div  style="font-size: 20px; text-align: left "  ><b class="my-row-2">Brochure 1 :</b></div>
            <br>
            <iframe src="{% static 'files/GCIMB Brochure.pdf' %}#zoom=FitW" style="text-align:center; margin:0 auto; width: 100%;height: 100%; 
            min-height: 720px; border: none;"></iframe>
            <a class="formButton brochureButton" style="display: inline-block" href="{% static 'files/GCIMB Brochure.pdf' %}">
                Download Brochure 1
            </a>
            <hr class="separator" style="margin: 8% auto; width: 40%;">
            <div  style="font-size: 20px; text-align: left "  ><b class="my-row-2">Brochure 2 :</b></div>
            <br>
            <iframe src="{% static 'files/GCIMB Brochure_2.pdf' %}#zoom=FitW" style="text-align:center; margin:0 auto; width: 100%;height: 100%; 
            min-height: 720px; border: none;"></iframe>
            <a class="formButton brochureButton" style="display: inline-block" href="{% static 'files/GCIMB Brochure_2.pdf' %}">
                Download Brochure 2
            </a>  
            <hr class="separator" style="margin: 8% auto; width: 40%;">
            <div  style="font-size: 20px; text-align: left "  ><b class="my-row-2">Keynote Flyer :</b></div>
            <br>
            <iframe src="{% static 'files/Keynote Flyer.pdf' %}#zoom=FitW" style="text-align:center; margin:0 auto; width: 100%;height: 100%; 
            min-height: 720px; border: none;"></iframe>
            <a class="formButton brochureButton" style="display: inline-block" href="{% static 'files/Keynote Flyer.pdf' %}">
                Download Keynote Flyer
            </a> 
    </div>
</section>



{% endblock content %}