{% extends 'base.html' %}
{% block title %}Advisory Committee{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin: 2% auto">Advisory Committee</h1>
    <div class="my-main-container" >
        <p class="my-content">
        </p>
        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/kate.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. Kate Blackmon</h5>
                        <h5 class="my-card-title" style="color: grey">Oxford</h5>
                        <h5 class="my-card-title">U.K.</h5>
                    </div>
                </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/loren.jpeg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. Lorenzo Lucianetti</h5>
                        <h5 class="my-card-title" style="color: grey">University of Chieti and Pescara</h5>
                        <h5 class="my-card-title">Italy</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/xiande.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. Xiande Zhao</h5>
                        <h5 class="my-card-title" style="color: grey">China Europe International Business School</h5>
                        <h5 class="my-card-title">China</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/gregS.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Mr. Greg Stein</h5>
                        <h5 class="my-card-title" style="color: grey">CEO, Closet Factory, Los Angeles</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/profile_pic.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. N. Kathuria</h5>
                        <h5 class="my-card-title" style="color: grey">Managing Director, Actuate Business Consulting</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/gregD.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. Greg Dell’Omo</h5>
                        <h5 class="my-card-title" style="color: grey">President, Rider University</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/karuna.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Prof. Karuna Jain</h5>
                        <h5 class="my-card-title" style="color: grey">Shailesh J. Mehta School of Management, IIT Bombay</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/raja.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Prof. B. Raja Shekhar</h5>
                        <h5 class="my-card-title" style="color: grey">School of Management Studies, University of Hyderabad</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/madhumathi.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Prof. R. Madhumathi</h5>
                        <h5 class="my-card-title" style="color: grey"> Department of Management Studies, IIT Madras</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/acharya.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Prof. GVRK Acharyulu</h5>
                        <h5 class="my-card-title" style="color: grey">School of Management Studies, University of Hyderabad</h5>
                        <h5 class="my-card-title" >India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/pankaj.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Prof. Pankaj Sinha</h5>
                        <h5 class="my-card-title" style="color: grey">University of Delhi</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/farborez.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. Fariborz Partovi</h5>
                        <h5 class="my-card-title" style="color: grey">Drexel University</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/rich.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <h5 class="my-card-title">Dr. Rich Metters</h5>
                        <h5 class="my-card-title" style="color: grey">Texas A & M</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}