{% extends 'base.html' %}
{% block title %}Advisory Committee{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin: 2% auto">Advisory Committee</h1>
    <div class="my-main-container" >
        <p class="my-content">
        </p>
        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/kate.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.sbs.ox.ac.uk/about-us/people/kate-blackmon" >
                            <h5 class="my-card-title">Dr. Kate Blackmon</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">University of Oxford</h5>
                        <h5 class="my-card-title">U.K.</h5>
                    </div>
                </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/loren.jpeg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.cranfield.ac.uk/som/people/dr-lorenzo-lucianetti-764415" >
                            <h5 class="my-card-title">Dr. Lorenzo Lucianetti</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">University of Chieti and Pescara</h5>
                        <h5 class="my-card-title">Italy</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/xiande.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.ceibs.edu/zhao-xiande" >
                            <h5 class="my-card-title">Dr. Xiande Zhao</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">China Europe International Business School</h5>
                        <h5 class="my-card-title">China</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/gregS.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="" >
                            <h5 class="my-card-title">Mr. Greg Stein</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">CEO, Closet Factory, Los Angeles</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/kathuriya.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="" >
                            <h5 class="my-card-title">Dr. N. Kathuria</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Managing Director, Actuate Business Consulting</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/gregD.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.rider.edu/about/faculty-staff-directory/gregory-g-dellomo" >
                            <h5 class="my-card-title">Dr. Greg Dell’OmoDr. Greg Dell’Omo</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">President, Rider University</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/karuna.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.som.iitb.ac.in/?p=968" >
                            <h5 class="my-card-title">Prof. Karuna Jain</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Shailesh J. Mehta School of Management, IIT Bombay</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/raja.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://smsuoh.ac.in/dr-b-raja-shekhar/" >
                            <h5 class="my-card-title">Prof. B. Raja Shekhar</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">School of Management Studies, University of Hyderabad</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/madhumathi.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://iitm.irins.org/profile/51182" >
                                <h5 class="my-card-title">Prof. R. Madhumathi</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey"> Department of Management Studies, IIT Madras</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/acharya.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://smsuoh.ac.in/dr-g-v-r-k-acharyulu/" >
                            <h5 class="my-card-title">Prof. GVRK Acharyulu</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">School of Management Studies, University of Hyderabad</h5>
                        <h5 class="my-card-title" >India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/pankaj.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="http://www.fms.edu/?q=faculty/faculty_detail/65" >
                            <h5 class="my-card-title">Prof. Pankaj Sinha</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">University of Delhi</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/farborez.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.lebow.drexel.edu/people/fariborzpartovi" >
                            <h5 class="my-card-title">Dr. Fariborz Partovi</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Drexel University</h5>
                        <h5 class="my-card-title">USA</h5>
                    </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2%;">
            <div class="container mt-2">
              <div class="row">
                  <div class=" col-md-3 col-sm-6 my-item">
                      <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/rich.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="" >
                            <h5 class="my-card-title">Dr. Rich Metters</h5>
                        </a>
                          <h5 class="my-card-title" style="color: grey">Texas A & M</h5>
                        <h5 class="my-card-title">USA</h5>
                      </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                      <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/dario.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="" >
                            <h5 class="my-card-title">Mr. Dario Knez</h5>
                        </a><h5 class="my-card-title" style="color: grey">Alfred Ford School of Management</h5>
                        <h5 class="my-card-title">Belgium</h5>
                      </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                      <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/kantha.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://research.curtin.edu.au/supervisor/aprof-kantha-dayaram/" >
                            <h5 class="my-card-title">Prof. Kantha Dayaram</h5>
                        </a>
                          <h5 class="my-card-title" style="color: grey">Curtin University</h5>
                        <h5 class="my-card-title">Australia</h5>
                      </div>
                  </div>
                  <div class=" col-md-3 col-sm-6 my-item">
                      <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/rahman.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.rmit.edu.au/contact/staff-contacts/academic-staff/r/rahman-professor-shams" >
                            <h5 class="my-card-title">Prof. Shams Rahman</h5>
                        </a>
                          <h5 class="my-card-title" style="color: grey">RMIT University</h5>
                        <h5 class="my-card-title">Australia</h5>
                      </div>
                  </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}