{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <script>
        $(document).ready(function () {
            // messages timeout for 10 sec
            setTimeout(function () {
                $('.message_container').fadeOut('slow');
            }, 3000);
        });
    </script>
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
    {% if messages %}
        {% for mes in messages %}
            <div class="alert alert-success message_container">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ mes }}</strong>
            </div>
        {% endfor %}
    {% endif %}
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Contact Us</h1>
    <div class="inner">
        <div class="col-sm-12 col-sm-offset-3">
        <div id="uploadForm" class="well well-lg">
            <formset>
                <form method="POST" enctype="multipart/form-data" action="../contact_us/">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-subgroup half ">
                            <label class="formText">Name</label><br>
                            <input class="my-input" type="text" name="fullName" id="fullName" required/>
                        </div>
                        <div class="form-subgroup half">
                            <label class="formText">Email</label><br>
                            <input class="my-input" type="email" name="email" id="email" required/>
                        </div>
                    </div>
                    <div class="form-group left" >
                        <div class="form-subgroup " >
                        <label class="formText">Subject</label><br>
                        <input class="my-input" type="text" name="subject" id="subject" required/>
                        </div>
                    </div>

                     <div class="form-group">
                         <div class="form-subgroup ">
                        <label class="formText">Message</label><br>
                         <textarea class="my-input" name="message" id="message" rows="10" cols="" required></textarea>
                         </div>
                    </div>

                    <div class="form-group">
                        <button class="my-input formButton"  type="submit">Send</button>
                    </div>
                </form>
            </formset>
            <br>
        </div>
    </div>


        <p class="my-content">
            <ul class="list-unstyled" >
        <li style="margin: 25px"><i class="fa fa-envelope"></i> <span style="font-weight: bold;"> Prof. Ravi Kathuria </span>: kathuria@chapman.edu</li>
        <li style="margin: 25px"><i class="fa fa-envelope"></i> <span style="font-weight: bold;"> Prof. Narendra Rustagi </span> : nrustagi@howard.edu</li>
        <li style="margin: 25px"><i class="fa fa-envelope"></i> <span style="font-weight: bold;"> Dr.V.Rama Devi </span> : vrdevi@nitw.ac.in</li>
        <li style="margin: 25px"><i class="fa fa-phone"></i> <span style="font-weight: bold;"> Phone </span> : +91 8978264848</li>
            </ul>
        </p>
    </div>
</section>



{% endblock content %}