{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Contact Us</h1>
    <div class="inner">
        <p class="my-content">
{#        <h5>Contact Details:</h5>#}
            <ul class="list-unstyled" >
        <li style="margin: 25px"><i class="fa fa-envelope"></i> <span style="font-weight: bold;"> Prof. Ravi Kathuria </span>: kathuria@chapman.edu</li>
        <li style="margin: 25px"><i class="fa fa-envelope"></i> <span style="font-weight: bold;"> Prof. Narendra Rustagi </span> : nrustagi@howard.edu</li>
        <li style="margin: 25px"><i class="fa fa-envelope"></i> <span style="font-weight: bold;"> Dr.V.Rama Devi </span> : vrdevi@nitw.ac.in</li>
        <li style="margin: 25px"><i class="fa fa-phone"></i> <span style="font-weight: bold;"> Phone </span> : +91 8978264848</li>
            </ul>
        </p>
    </div>
</section>



{% endblock content %}