{% extends 'base.html' %}
{% block title %}Deadlines{% endblock title %}
{% load static %}
{% block scripts %}
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Deadlines</h1>
    <div class="demo">
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <span class="timeline-icon">1</span>
                            <div class="timeline-content">
    {#                            <i class="icon fa fa-globe"></i>#}
                                <p class="description" style="color:black;">
                                    Abstracts Submission
                                </p>
                            </div>
                            <div class="year"><span>10<sup>th</sup>June 2021</span></div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon">2</span>
                            <div class="timeline-content">
    {#                            <i class="icon fa fa-briefcase"></i>#}
                                <p class="description" style="color:black;">
                                    Communication of acceptance of Abstracts
                                </p>
                            </div>
                            <div class="year"><span>15<sup>th</sup>June 2021</span></div>
                        </div>

                        <div class="timeline">
                            <span class="timeline-icon">3</span>
                            <div class="timeline-content">
    {#                            <i class="icon fa fa-globe"></i>#}
                                <p class="description" style="color:black;">
                                    Early Bird Registrations
                                </p>
                            </div>
                            <div class="year"><span>25<sup>th</sup>June 2021</span></div>
                        </div>
                        <div class="timeline">
                            <span class="timeline-icon">4</span>
                            <div class="timeline-content">
    {#                            <i class="icon fa fa-briefcase"></i>#}
                                <p class="description" style="color:black;">
                                    Full Paper Submission
                                </p>
                            </div>
                            <div class="year"><span>30<sup>th</sup>June 2021</span></div>
                        </div>

                        <div class="timeline">
                            <span class="timeline-icon">5</span>
                            <div class="timeline-content">
    {#                            <i class="icon fa fa-globe"></i>#}
                                <p class="description" style="color:black;">
                                    Deadline For Registration
                                </p>
                            </div>
                            <div class="year"><span>12<sup>th</sup>July 2021</span></div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
</section>



{% endblock content %}