{% extends 'base.html' %}
{% block title %}Deadlines{% endblock title %}
{% load static %}
{% block scripts %}
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;"><i class="far fa-clock"></i> Deadlines</h1>
    <div class="container">
        <div class="timeline-wrapper">
        <div class="timeline">
            <div class="event">
                <h2>Abstracts Submission</h2>
                <h2><br></h2>
                <p>10<sup>th</sup> June 2021</p>
            </div>

            <div class="event">
                <h2>Communication of acceptance of Abstracts</h2>
                <p>15<sup>th</sup> June 2021</p>
            </div>

            <div class="event">
                <h2>Early Bird Registrations</h2>
                <h2><br></h2>
                <p>25<sup>th</sup> June 2021</p>
            </div>

            <div class="event">
                <h2>Full Paper Submission</h2>
                <h2><br></h2>
                <p>30<sup>th</sup> June 2021</p>
            </div>

            <div class="event">
                <h2>Deadline for Registrations</h2>
                <h2><br></h2>
                <p>12<sup>th</sup> July 2021</p>
            </div>

        </div>
            </div>
    </div>

</section>



{% endblock content %}