{% extends 'base.html' %}
{% block title %}Full Paper Format{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}
{#	<header>#}
{#  <a href="#" id="logo">Logo</a>#}
{#</header> #}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Full Paper Format</h1>
    <div class="inner">
        <p class="my-content">
             The contributors must ensure that the submission is original and not presented or published earlier or
            under review for presentation or publication at the same time. Interested contributors need to submit an
            abstract in the range of 500 words electronically. It should include the following:
        </p>
        <p class="my-content" style="margin: 25px auto; ">
             <ol style="margin: 0 auto; text-align: left; font-size: 20px;">
                 <li>
                     Purpose
                 </li>
                 <li>
                     Research Methodology/Design
                 </li>
                 <li>
                     Major Findings
                 </li>
                 <li>
                     Research Implications
                 </li>
                 <li>
                     Keywords
                 </li>
             </ol>
        </p>
    </div>
</section>


{% endblock content %}