{% extends 'base.html' %}
{% block title %} | Preconference Workshop{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin-bottom:25px ;">Preconference Workshop</h1>
    <div class="my-main-container" >
        <p class="my-content">
            Preconference workshop will be organised in the areas of reasearch methods and writing research articles.Details will be updated shortly
        </p>
    </div>
</section>



{% endblock content %}