{% extends 'base.html' %}
{% block title %}Speakers{% endblock title %}
{% load static %}
{% block content %}
{# 	<header>
  <a href="#" id="logo">Logo</a>
</header> #}

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Speakers</h1>
    <p></p>
    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>Conference Themes and Topics</h1>
    <p>The conference is seeking submissions related to the following conference topics: Management, Economics, Business, Finance. Other related tracks and topics will also be considered.

	Submitted abstracts will be evaluated by the Scientific Committee. If abstract is accepted, author agrees to send full text paper, including results, tables, figures and references. All submissions should report original and previously unpublished research results no matter the type of research paper you are presenting. Full text papers (.docx and .doc) will be accepted by Electronic Submission Form. Manuscripts should meet the format set by the Conference committee and are subject to review.</p>
    </div>
  </div>
</section>


<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

{% endblock content %}