{% extends 'base.html' %}
{% block title %}Track chairs{% endblock title %}
{% load static %}
{% block scripts %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
{% endblock scripts %}
{% block content %}

<section id="hero1" class="hero">
  <div class="inner-other">
  </div>
</section>

<section class="content" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="margin: 2% auto">Track chairs</h1>
    <div class="my-main-container" >
        <ul style="list-style: none">
            <li class="my-list-item">
                <p class="my-content">
                    <b class="my-row-2" >Business Analytics :</b>
                </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/jonathan.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.chapman.edu/our-faculty/jonathan-hersh">
                                <h5 class="my-card-title">Dr. Jonathan Hersh</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Chapman University</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                    </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                    <b class="my-row-2">Crisis Management :</b>
                </p>
                <div class="row">
                  <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/cris.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.chapman.edu/our-faculty/cristina-giannantonio">
                            <h5 class="my-card-title">Dr. Cristina Giannantonio</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Chapman University</h5>
                        <h5 class="my-card-title">U.S.A.</h5>
                    </div>
                  </div>
                  <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/amy.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.chapman.edu/our-faculty/amy-hanson">
                            <h5 class="my-card-title">Dr. Amy Hurley-Hanson</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Chapman University</h5>
                        <h5 class="my-card-title">U.S.A.</h5>
                    </div>
                  </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Digital Transformation and Information Systems :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/abhishek.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/abhishek-kathuria.html">
                            <h5 class="my-card-title">Dr. Abhishek Kathuria</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Indian School of Business, Hyderabad</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>
                  <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/prasanna.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://shidler.hawaii.edu/itm/directory/prasanna-karhade">
                            <h5 class="my-card-title">Dr. Prasanna Karhade</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Shidler College of Business, University of Hawaii at Mānoa</h5>
                        <h5 class="my-card-title">U.S.A.</h5>
                    </div>
                </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Economics and International Trade :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/emman.jpeg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.coppin.edu/view-directory-record?recordID=5635">
                                <h5 class="my-card-title">Dr. Emmanuel Anoruo</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Coppin State University, Maryland</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                    </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Entrepreneurship and Innovation :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/mahesh.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://business.gmu.edu/facultyandresearch/faculty/profile/115/337/">
                                <h5 class="my-card-title">Dr. Maheshkumar P. Joshi</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">George Mason University</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                    </div>
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/pradeep.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.chapman.edu/our-faculty/pradip-shukla">
                                <h5 class="my-card-title">Dr. P.K. Shukla</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Chapman University</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                    </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Financial Management and Investment :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/chinedu.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="">
                                <h5 class="my-card-title">Dr. Chinedu B Eziram</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">University of Port Harcourt</h5>
                            <h5 class="my-card-title">Nigeria</h5>
                        </div>
                    </div>

                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/rajneesh.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.sju.edu/faculty/rajneesh-sharma">
                                <h5 class="my-card-title">Dr. Rajneesh Sharma</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Saint Joseph's University</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                    </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">General Management :</b>
            </p>
                <div class="row">
                    <!--<div class=" col-md-6 col-sm-6 my-item">-->
                    <!--    <div class="my-card my-item-card my-card-block">-->
                    <!--        <img src="{% static 'images/simone.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>-->
                    <!--        <a href="https://profiles.uts.edu.au/Simone.Faulkner">-->
                    <!--            <h5 class="my-card-title">Dr. Simone Faulkner</h5>-->
                    <!--        </a>-->
                    <!--        <h5 class="my-card-title" style="color: grey">University of Technology Sydney</h5>-->
                    <!--        <h5 class="my-card-title">Australia</h5>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/subodh.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://profiles.howard.edu/profile/41626/subodh-kulkarniphd">
                                <h5 class="my-card-title">Dr. Subodh Kulkarni</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Howard University</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                      </div>
                </div>
            </li>

            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Human Resource Management and Leadership :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/ace.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.brunel.ac.uk/people/ace-simpson">
                                <h5 class="my-card-title">Dr. Ace V Simpson</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Brunel University</h5>
                            <h5 class="my-card-title">U.K.</h5>
                        </div>
                    </div>
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/yasmin.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.brunel.ac.uk/people/ace-simpson">
                                <h5 class="my-card-title">Dr. Yasmin Purohit</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">RMU University</h5>
                            <h5 class="my-card-title">U.S.A</h5>
                        </div>
                    </div>
                </div>
            </li>

            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Marketing Management and Customer Insights :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                        <div class="my-card my-item-card my-card-block">
                            <img src="{% static 'images/thani.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                            <a href="https://www.sju.edu/faculty/thani-jambulingam">
                                <h5 class="my-card-title">Dr. Thani Jambulingam</h5>
                            </a>
                            <h5 class="my-card-title" style="color: grey">Saint Joseph's University</h5>
                            <h5 class="my-card-title">U.S.A.</h5>
                        </div>
                      </div>
                </div>
            </li>

            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Operations and Supply Chain Management :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/firouz.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="http://scholars.uab.edu/display/mfirouz">
                            <h5 class="my-card-title">Dr. Mohammad Firouz</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">University of Alabama Birmingham</h5>
                        <h5 class="my-card-title">U.S.A.</h5>
                    </div>
                  </div>
                </div>
            </li>
            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Pluralism—Cultural, Moral and Religious :</b>
            </p>
                <div class="row">
                    <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/jagdish.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="">
                            <h5 class="my-card-title">Dr. Jagdish Rai</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">Invertis University</h5>
                        <h5 class="my-card-title">India</h5>
                    </div>
                  </div>

                  <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/carlo.jpg' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="">
                            <h5 class="my-card-title">Dr. Carlo Oppecini</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">GBC College for Leadership Development</h5>
                        <h5 class="my-card-title">Italy</h5>
                    </div>
                  </div>
                </div>
            </li>

            <li class="my-list-item">
                <p class="my-content">
                <b class="my-row-2">Strategic Management and Corporate Governance :</b>
            </p>
                <div class="row">
                  <div class=" col-md-6 col-sm-6 my-item">
                    <div class="my-card my-item-card my-card-block">
                        <img src="{% static 'images/mahesh.png' %}" class="card-img my-card-img mini-card-img" alt="..."/>
                        <a href="https://business.gmu.edu/facultyandresearch/faculty/profile/115/337/">
                            <h5 class="my-card-title">Dr. Maheshkumar P. Joshi</h5>
                        </a>
                        <h5 class="my-card-title" style="color: grey">George Mason University</h5>
                        <h5 class="my-card-title">U.S.A.</h5>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
    </div>
</section>



{% endblock content %}